body {
	background-color: #e6e6e6;
}

.chart {
	border-spacing: 10px;
	border-collapse: separate;
	border: 1px solid #cccccc;
	background-color: #f2f2f2;
	margin: 10px;
}

.searchbar {
	margin: 10px;
}

.titlebar-link {
	font-size :17px;
	margin: 10px;
}

.external-icon {
	width: 20px;
	height: 20px;
}

.chart-history-summary-item {
	margin: 3px;
}

.chart-history-summary-label {
	font-style: italic;
	color: #737373;
}

.graph {
	margin: 10px;
}

.graph-svg {
	background-color: #f2f2f2;
	border :1px solid #cccccc;	
}

#reverse-lookup-svg {
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
}

.graph-container {
	float: left;
	overflow: hidden;
}

#titlebar {
	background-color: #262626;
	padding-top: 5px;
	padding-bottom: 5px;
}

#logo {
	font-size: 17px;
	color: #e6f3ff;
	margin: 20px;
}

#chart-history-header {
	margin: 10px;
}

#chart-history-list-container {
	float: left;
}

#reverse-lookup-search-form {
	display: block;
	float: left;
	margin: 10px;
}

#chart-history-item-type {
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 10px;
}

#chart-datepicker {
	margin: 10px;
	display: inline-block;
	background-color: #f2f2f2;
	padding: 7px;
	border: 1px solid #cccccc;
}

#chart-selected-date {
	display: inline-block;
	font-size: 20px;
	margin: 5px;
}

#tooltip {
	position: absolute;
	text-align: center;
	padding: 5px;
	font: 12px sans-serif;
	background: #c1d0f0;
	border: 0px;
	border-radius: 8px;
	opacity: 0.9;
	pointer-events: none;
}

#graph-marker {
	display: inherit;
	fill: #000000;
	pointer-events: none;
}