.external-icon {
	width: 20px;
	height: 20px;
}

#chart {
	border-spacing: 10px;
	border-collapse: separate;
	border: 1px solid #cccccc;
	background-color: #f2f2f2;
	margin: 20px;
}

#chart-datepicker {
	margin: 10px;
	display: inline-block;
	background-color: #f2f2f2;
	padding: 7px;
	border: 1px solid #cccccc;
}

#chart-selected-date {
	display: inline-block;
	font-size: 20px;
	margin: 5px;
}