table {
	border-spacing: 10px;
	border-collapse: separate;
	border: 1px solid #cccccc;
	background-color: #f2f2f2;
	margin: 20px;
}

.external-icon {
	width: 20px;
	height: 20px;
}

.chart-history-summary-item {
	margin: 3px;
}

.chart-history-summary-label {
	font-style: italic;
	color: #737373;
}

.chart-history-date-link {
	margin-left: 3px;
	margin-right: 12px;
}

#btn-results {
	margin: 10px;
}

#chart-history {
	display: inline-block;
	margin: 10px;
}

.graph-container {
	float: left;
	overflow: hidden;
}

.graph {
	margin: 5px;
}

#chart-history-list-container {
	float: left;
}

#reverse-lookup-search-form {
	display: block;
	float: left;
	margin: 10px;
}

#reverse-lookup-svg {
	background-color: #f2f2f2;
	border: 1px solid #cccccc;
	height: 400px;
	width: 400px;
}

#chart-history-header {
	margin: 10px;	
}

#chart-history-item-type {
	font-size: 15px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 10px;
}

#chart-datepicker {
	margin: 10px;
	display: inline-block;
	background-color: #f2f2f2;
	padding: 7px;
	border: 1px solid #cccccc;
}

#chart-selected-date {
	display: inline-block;
	font-size: 20px;
	margin: 5px;
}

#artist-timeline-search-container {
	margin: 10px;
}

#tooltip {
	position: absolute;
	text-align: center;
	padding: 5px;
	font: 12px sans-serif;
	background: #c1d0f0;
	border: 0px;
	border-radius: 8px;
	opacity: 0.9;
	pointer-events: none;
}

#graph-marker {
	display: inherit;
	fill: #000000;
	pointer-events: none;
}