<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script src="js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<!-- Latest compiled and minified CSS -->
		
</head>
<body>

	<link rel="stylesheet" href="css/bootstrap.css">

	<div ng-controller="ChartSearchController">

	    <div class="btn-group" style="text-align:center;">
	    	<span>
		        <label style="margin:auto;" class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'billboard_singles'">Singles</label>
		        <label style="margin:auto;" class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'billboard_albums'">Albums</label>
	    	</span>
	    </div>

        <div>
            <p style="margin:10 auto 10;" class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            </p>
        </div>


	    <div style="text-align:center;">
	      <uib-datepicker ng-model="dt" min-date="minDate" date-disabled="disabled(date, mode)" show-weeks="false" class="well well-sm"></uib-datepicker>
	    </div>
	    
	    <div style="text-align:center;">
	    	<button type="button" class="btn btn-sm btn-primary" ng-click="oneWeekBackward()">Back One Week</button>
			<button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
			<!-- <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button> -->
			<button type="button" class="btn btn-sm btn-success" ng-click="search(dt)">Search</button>
			<button type="button" class="btn btn-sm btn-primary" ng-click="oneWeekForward()">Forward One Week</button>
		</div>
	    <hr />
	    
	</div>

	<div ng-controller="ChartViewController">
		<chart-display data="chartData" type="chartType"></chart-display>
	</div>

	<!-- Modules -->
	<script src="js/app.js"></script>
	<!-- Controllers -->
	<script src="js/controllers/ChartViewController.js"></script>
	<script src="js/controllers/ChartSearchController.js"></script>
	<!-- Services -->
	<script src="js/services/ChartData.js"></script>
	<!-- Directives -->
	<script src="js/directives/chartDisplay.js"></script>

</body>
</html>