<html>
<head>
</head>
<body>

	<div ng-controller="ArtistTimelineController">

		<div class="searchbar">
			<form ng-submit="search()">
				<input id="artist" type="text" placeholder="Artist" ng-model="artistInput"/>
				<button type="button" class="btn btn-sm btn-success" ng-click="search()">Search</button>
			</form>
		</div>

		<div class="graph-container">
			<div class="graph" artist-timeline-graph chart-data=""></div>
		</div>

		<div>
			<table class="chart">
				<tr ng-repeat="charted_item in charted_items">
					<td>
						<a ng-href="{{ getItemReverseLookupURL(artist, charted_item.item_name, charted_item.chart_type) }}">{{ charted_item.item_name }}</a>
					</td>
					<td>
						<a ng-href="{{ getChartDisplayURL(charted_item.peak_date, charted_item.chart_type) }}">{{ charted_item.peak_date }}</a>
					</td>
					<td>{{ charted_item.peak_position }}</td>
				</tr>
			</table>
		</div>

	</div>

</body>
</html>